In [1]:
#Import the necessary libraries
import pandas as pd
import numpy as np

In [2]:
#Import the dataset --2
#Assign it to a variable called iris --3
#Create columns for the dataset --4

In [3]:
column_names=['sepal_length', 'sepal_width', 'petal_length' , 'petal_width' , 'class']
iris = pd.read_csv('iris.data', names=column_names)
iris

     sepal_length  sepal_width  petal_length  petal_width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
#Is there any missing value in the dataframe? --5
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
class           0
dtype: int64

In [5]:
#Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN --6
for i in range(20):
    iris['petal_length'][i+10]=np.nan

C:\Users\u1138138\AppData\Local\Temp\ipykernel_9612\331943835.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris['petal_length'][i+10]=np.nan

In [6]:
iris.isnull().sum()

sepal_length     0
sepal_width      0
petal_length    20
petal_width      0
class            0
dtype: int64

In [7]:
iris.head(30)

    sepal_length  sepal_width  petal_length  petal_width        class
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           NaN          0.2  Iris-setosa
11           4.8          3.4           NaN          0.2  Iris-setosa
12           4.8          3.0           NaN          0.1  Iris-setosa
13           4.3          3.0           NaN          0.1  Iris-setosa
14           5.8          4.0           NaN          0.2  Iris-setosa
15           5.7          4.4           NaN          0.4  Iris-setosa
16           5.4          3.9           NaN          0.4  Iris-setosa
17           5.1          3.5           NaN          0.3  Iris-setosa
18           5.7          3.8           NaN          0.3  Iris-setosa
19           5.1          3.8           NaN          0.3  Iris-setosa
20           5.4          3.4           NaN          0.2  Iris-setosa
21           5.1          3.7           NaN          0.4  Iris-setosa
22           4.6          3.6           NaN          0.2  Iris-setosa
23           5.1          3.3           NaN          0.5  Iris-setosa
24           4.8          3.4           NaN          0.2  Iris-setosa
25           5.0          3.0           NaN          0.2  Iris-setosa
26           5.0          3.4           NaN          0.4  Iris-setosa
27           5.2          3.5           NaN          0.2  Iris-setosa
28           5.2          3.4           NaN          0.2  Iris-setosa
29           4.7          3.2           NaN          0.2  Iris-setosa

In [8]:
#Good, now lets substitute the NaN values to 1.0 --7
for i in range(20):
    iris['petal_length'][i+10]=1

C:\Users\u1138138\AppData\Local\Temp\ipykernel_9612\251045581.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris['petal_length'][i+10]=1

In [9]:
iris.head(30)

    sepal_length  sepal_width  petal_length  petal_width        class
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.0          0.2  Iris-setosa
11           4.8          3.4           1.0          0.2  Iris-setosa
12           4.8          3.0           1.0          0.1  Iris-setosa
13           4.3          3.0           1.0          0.1  Iris-setosa
14           5.8          4.0           1.0          0.2  Iris-setosa
15           5.7          4.4           1.0          0.4  Iris-setosa
16           5.4          3.9           1.0          0.4  Iris-setosa
17           5.1          3.5           1.0          0.3  Iris-setosa
18           5.7          3.8           1.0          0.3  Iris-setosa
19           5.1          3.8           1.0          0.3  Iris-setosa
20           5.4          3.4           1.0          0.2  Iris-setosa
21           5.1          3.7           1.0          0.4  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
23           5.1          3.3           1.0          0.5  Iris-setosa
24           4.8          3.4           1.0          0.2  Iris-setosa
25           5.0          3.0           1.0          0.2  Iris-setosa
26           5.0          3.4           1.0          0.4  Iris-setosa
27           5.2          3.5           1.0          0.2  Iris-setosa
28           5.2          3.4           1.0          0.2  Iris-setosa
29           4.7          3.2           1.0          0.2  Iris-setosa

In [10]:
#Now let's delete the column class --8
del iris['class']

In [11]:
iris

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [12]:
# Set the first 3 rows as NaN --9
iris[0:3]=np.nan

In [13]:
iris

     sepal_length  sepal_width  petal_length  petal_width
0             NaN          NaN           NaN          NaN
1             NaN          NaN           NaN          NaN
2             NaN          NaN           NaN          NaN
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [14]:
#Delete the rows that have NaN --10
iris1 = iris.dropna(how="all")

In [15]:
iris1

     sepal_length  sepal_width  petal_length  petal_width
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
6             4.6          3.4           1.4          0.3
7             5.0          3.4           1.5          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[147 rows x 4 columns]

In [16]:
#Reset the index so it begins with 0 again --11
iris2 = iris1.reset_index()

In [17]:
iris2

     index  sepal_length  sepal_width  petal_length  petal_width
0        3           4.6          3.1           1.5          0.2
1        4           5.0          3.6           1.4          0.2
2        5           5.4          3.9           1.7          0.4
3        6           4.6          3.4           1.4          0.3
4        7           5.0          3.4           1.5          0.2
..     ...           ...          ...           ...          ...
142    145           6.7          3.0           5.2          2.3
143    146           6.3          2.5           5.0          1.9
144    147           6.5          3.0           5.2          2.0
145    148           6.2          3.4           5.4          2.3
146    149           5.9          3.0           5.1          1.8

[147 rows x 5 columns]

In [18]:
del iris2['index']

In [19]:
iris2

     sepal_length  sepal_width  petal_length  petal_width
0             4.6          3.1           1.5          0.2
1             5.0          3.6           1.4          0.2
2             5.4          3.9           1.7          0.4
3             4.6          3.4           1.4          0.3
4             5.0          3.4           1.5          0.2
..            ...          ...           ...          ...
142           6.7          3.0           5.2          2.3
143           6.3          2.5           5.0          1.9
144           6.5          3.0           5.2          2.0
145           6.2          3.4           5.4          2.3
146           5.9          3.0           5.1          1.8

[147 rows x 4 columns]